/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton {
    display: inline-block;
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #333;
}

.redes {
    margin-top: 20px;
}

.redes a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    transition: transform;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    section {
        padding: 10px;
    }
    .boton {
        padding: 8px 16px;
    }
    .blog-image, .blog-image2 {
        max-width: 100%;
        border-radius: 5px;
    }
}

/* Estilos para la imagen del blog */
.blog-image2 {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%; /* para un círculo */
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

